
@{
    ViewBag.Title = "Home Page";
}


<div style="font-weight:bold">
    <br /> 
    @Html.ActionLink("Create a New Maintenance Ticket", "Index", "MaintTicket")<br /><br />
    @Html.ActionLink("Customer Info", "Index", "CustomerDatas")<br /><br />
    @Html.ActionLink("Car Info", "Index", "CarDatas")<br /><br />   
    @Html.ActionLink("Maintenance Type", "Index", "MaintenanceTypes")<br /><br />
    @Html.ActionLink("Maintenance History", "Index", "MaintenanceHistories")<br /><br />
</div> 