@model CarMaint.Models.MaintenanceType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Type of Maintenance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaskName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diesel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diesel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Electric)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Electric)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaintId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
